<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="text-bg">
                    <h2 class="section-heading">O nas</h2>
                </div>
            </div>
        </div>
        <div class="about-row">
            <div class="col-sm-7 shop">
                <img src="/img/shop.png" alt="Sklep">
            </div>
            <div class="col-sm-5 about-text text-center">
                <p class="text-muted">
                    Rybami zajmujemy się już od <b>1990</b>. To&nbsp;właśnie te zgromadzone lata doświadczenia, pozwalają każdego dnia dostarczać towar <b>najlepszej jakości</b>.
                </p>
                <p class="text-muted">
                    Zapewniamy świeże, mrożone, wędzone ryby, konserwy, sałatki i&nbsp;wszelkiego rodzaju przyprawy.
                </p>
            </div>
        </div>

    </div>
</section>