<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="text-bg">
                    <h2 class="section-heading">O nas</h2>
                </div>
            </div>
        </div>
        
        <div class="row test">
            <div class="col-sm-6 shop">
                    <img src="/img/shop.jpg" alt="Sklep">
                <!-- <div class="img image-shadow js-tilt-container"></div> -->
            </div>

            <div class="col-sm-6 about-text text-center">
                <p class="text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. 
                </p>
            </div>
        </div>

    </div>
</section>