<section id="map">
    <div class="container">
        <div class="row"> 
            <div class="col-lg-12 text-center">
                <div class="text-bg">
                    <h2 class="section-heading">Mapa</h2>
                </div>
            </div>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2548.76078941031!2d18.656099515272057!3d50.296393006335286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471130f64135e38f%3A0x4b21ca11c3f2ab9f!2sRojek%20Bronis%C5%82awa.%20Sklep%20spo%C5%BCywczy!5e0!3m2!1spl!2spl!4v1579163781978!5m2!1spl!2spl" frameborder="0" style="border:0;" allowfullscreen></iframe>
        </div>
    </div>
</section>
